################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.pdb
/POCs/POCs/bin/Debug/net6.0/POCs.deps.json
*.suo
*.vsidx
*.lock
*.sqlite
/.vs/VSWorkspaceState.json
*.v2
*.v1
*.cache
*.BuildWithSkipAnalyzers
*.editorconfig
/POCs/POC_LambdaAndDelegate/obj
/POCs/POC_LambdaAndDelegate/bin/Debug/net6.0
