################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.pdb
/POCs/POCs/bin/Debug/net6.0/POCs.deps.json
*.suo
*.vsidx
*.lock
*.sqlite
/.vs/VSWorkspaceState.json
/POCs/POCs/.vs
/POCs/POCs/Lambda/bin/Debug/net6.0
/POCs/POCs/Lambda/obj/Debug/net6.0
/POCs/POCs/Lambda/obj
/POCs/POCs/Async/obj
