################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.pdb
/POCs/POCs/bin/Debug/net6.0/POCs.deps.json
*.suo
*.vsidx
*.lock
*.sqlite
/.vs/VSWorkspaceState.json
/POCs/POCs/.vs
/POCs/POCs/Lambda/bin/Debug/net6.0
/POCs/POCs/Lambda/obj/Debug/net6.0
/POCs/POCs/Lambda/obj
/POCs/POCs/Async/obj
/POCs/PocAsyncConsole/obj
/POCs/PocAsyncDll/obj
/POCs/PocAsyncDll.Common/obj
*.v2
*.v1
*.cache
*.BuildWithSkipAnalyzers
*.editorconfig
/POCs/POC_LambdaAndDelegate/obj
/POCs/POC_LambdaAndDelegate/bin/Debug/net6.0
/POCs/PocAsync/bin/Debug/net6.0-windows
/POCs/.vs/POCs/config
/POCs/.vs/ProjectEvaluation
/POCs/PocAsync/obj
/POCs/PocAsyncDll/bin/Debug/net6.0
/POCs/PocAsyncDll/obj
/POCs/PocAsyncDll.Common/bin/Debug/net6.0
/POCs/PocAsyncDll.Common/obj
/POCs/POC_Async/bin/Debug/net6.0
/POCs/POC_Async/obj/Debug/net6.0
/POCs/POC_Async/obj/POC_Async.csproj.nuget.dgspec.json
/POCs/POC_Async/obj
/POCs/PocAsyncForm/obj
/POCs/PocAsyncConsole/obj
/POCs/PocAsyncConsole/bin/Debug/net6.0
/POCs/POCs/PocAsyncConsole/obj/Debug/net6.0
/POCs/POCs/PocAsyncDll/obj/Debug/net6.0
/POCs/POCs/PocAsyncDll.Common/obj/Debug/net6.0
/POCs/POCs/PocAsyncConsole/bin/Debug/net6.0
/POCs/POCs/PocAsyncDll.Common/bin/Debug/net6.0
/POCs/POCs/PocAsyncDll.Worker/bin/Debug/net6.0
/POCs/POCs/PocAsyncDll.Worker/obj/Debug/net6.0
/POCs/POCs/PocAsyncDll.Common/obj
/POCs/POCs/PocAsyncDll.Worker/obj
/POCs/POCs/PocAsyncConsole/obj
/POCs/POCs/PocEntityFramework/obj
/POCs/POCs/PocEntityFramework/bin/Debug/net6.0
/POCs/POCs/Pocs.Packages.Common/obj
/POCs/POCs/Pocs.Packages.Common/bin/Debug/net6.0
POCs/POCs/PocEntityFramework/.vscode/launch.json
POCs/POCs/PocEntityFramework/.vscode/tasks.json
